<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Confirm</title>
        <style>
            .logo_img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            .content {
            }
            .btn {
                background-color: rgb(49, 202, 248);
                color: white;
                font-weight: 850;
                font-size: 16px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <img
            class="logo_img"
            src="https://cdn.galle.vn/media/upload_images/images/cua-hang-bvlgari.jpg"
        />
        <h1 class="content">
            Hello <%= user.first_name %> <%= user.last_name %>
        </h1>
        <p class="content">
            Please click the link below to verify your account!
        </p>
        <a
            href="http://localhost:4000/apis/v1/users/confirm/<%= token %>"
            class="content btn btn btn-info"
            >Confirm
            <!-- <button type="button" class="btn btn-info">Confirm</button> -->
            </a
        >
    </body>
</html>
